body{
    font-family: 'Smythe', sans-serif;
    margin: 0;
}

.container{
    width: 600px;
    margin: auto;
}

#restaurant-intro{
    height: 170px;
    background: url("/images/restaurant-burger.jpg");
    background-size: cover;
    padding: 45px 0px 0px 45px;
    color: white;
}

#restaurant-name{
    margin-top: 0px;
    font-size: 45px;
    margin-bottom: 0px;
}

#restaurant-tag {
    margin-top: 20px;
    font-size: 25px;
}

#restaurant-menu{
    padding: 50px;
}

.menu-item{
    display: flex;
    width: 500px;
    justify-content: space-between;
    height: 140px;
    border-bottom: 1px solid #D2D2D2;
}

.ingredients {
    white-space: nowrap;
}

.item-contents{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quantity{
    display: flex;
    align-items: center;
}

.item-image{
    float: left;
    width: 70px;
    height: 90px;
    margin-right: 30px;
}

.about-item{
    margin-left: 0px;
}

.item-name , .ingredients , .item-price{
    margin-top: 0px;
}

.item-name{
    margin-bottom: 9px;
    font-weight: 400;
    font-size: 28px;
}

.ingredients{
    margin-bottom: 8px;
}

.increase, .decrease{
    background:none;
    background: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 1.5px solid #DEDEDE;
    margin: 0;
}

.increase:hover, .decrease:hover{
    cursor: pointer;
}

.item-quantity{
    margin: 20px;
}