body{
    font-family: 'Smythe', sans-serif;
    margin: 0;
}

.container{
    width: 600px;
    margin: auto;
    background: white;
}

#restaurant-intro{
    height: 170px;
    background: url("/images/restaurant-burger.jpg");
    background-size: cover;
    padding: 45px 0px 0px 45px;
    color: white;
}

#restaurant-name{
    margin-top: 0px;
    font-size: 45px;
    margin-bottom: 0px;
}

#restaurant-tag {
    margin-top: 20px;
    font-size: 25px;
}

#restaurant-menu{
    padding: 50px;
}

.menu-item{
    display: flex;
    width: 500px;
    justify-content: space-between;
    height: 140px;
    border-bottom: 1px solid #D2D2D2;
}

.ingredients {
    margin-bottom: 8px;
    color: #8B8B8B;
    font-size: 16px;
}

.item-contents{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quantity{
    display: flex;
    align-items: center;
}

.item-image{
    float: left;
    font-size: 70px;
    margin-right: 30px;
}

.about-item{
    margin-left: 0px;
}

.item-name , .ingredients , .item-price{
    margin-top: 0px;
}

.item-name{
    margin-bottom: 9px;
    font-weight: 400;
    font-size: 28px;
}

.item-price{
    font-size: 20px;
}

.increase{
    background:none;
    background: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 1.5px solid #DEDEDE;
    margin: 0;
}

.increase:hover{
    cursor: pointer;
}

.item-quantity{
    margin: 20px;
}

#restaurant-bill{
    text-align: center;
    padding: 50px;
    padding-top: 0px;
}

.remove-item{
    background: none;
    border: none;
    font-size: 12px;
    color: #BBBBBB;
}

#item,#final-payable{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-and-quantity, .final-item-price, #final-payable p{
    display: inline-block;
}

.item-and-quantity{
    font-size: 28px;
}

.final-item-price{
    font-size: 20px;
}

#final-payable{
    border-top: 2px solid #393333;
}

.complete-order{
    border: none;
    width: 500px;
    background: #16DB99;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-weight: 16px;
    height: 60px;
    box-shadow: 0 1 2 #000000;
    margin-top: 25px;
}

.complete-order:hover{
    cursor: pointer;
}

#bill-payment{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: fixed;
    width: 524px;
    height: 524px;
    background-color: white;
    text-align: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 5.19px 5.19px 255.44px #000000;

}

#bill-payment h3{
    margin-bottom: 45px;
}

#bill-payment input{
    width: 475px;
    height: 70px;
    border: 1.3px solid #757575;
    margin-bottom: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 20px;
    font-size: 20px;
}

#pay{
    font-size: 20px;
}

.hidden{
    display: none;
}

#greeting{
    height: 120px;
    background: #ECFDF5;
    font-size: 32px;
    display: flex;
    justify-content: center;
}